<div>
  <h2><%= @group.name %></h2>
  <h3>Creator: <%= @group.creator.display_name %></h3>
  <h3>Spending Limit: $<%= @group.spending_limit %></h3>
  <h3>Members</h3>
  <ul>
    <% @group.users.each do |user| %>
      <li><%= user.display_name %></li>
    <% end %>
  </ul>
  <form action='/users/draw' method='get'>
    <input type="hidden" name="group_id" value="<%= @group.id %>">
    <button id="drawName" type="submit">Draw Name</button>
  </form>
</div>
